<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fengzhi.basislearning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.sw.day12.DateDialogActivity"></activity>
        <activity android:name=".activity.sw.day12.CustomDialogActivity" />
        <activity android:name=".activity.sw.day12.AdapterDialogActivity" />
        <activity android:name=".activity.sw.day12.DialogActivity" />
        <activity android:name=".activity.sw.day06.OtherActivity" />
        <activity android:name=".activity.sw.day06.SaveActivity" />
        <activity android:name=".activity.sw.day04.SpinnerActivity" />
        <activity android:name=".activity.sw.day04.AutocompleteActivity" />
        <activity android:name=".activity.sw.day04.ChooseActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>