<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fengzhi.basislearning">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.hh.day21.ViewPagerActivity"></activity>
        <activity android:name=".activity.hh.day17.Handler2Activity" />
        <activity android:name=".activity.hh.day17.Handler1Activity" />
        <activity android:name=".activity.hh.day17.QieHuanActivity" />
        <activity android:name=".activity.hh.day17.HandlerLoadActivity" />
        <activity android:name=".activity.hh.day17.HandlerActivity" />
        <activity android:name=".activity.sw.day13.SavePrefsActivity" />
        <activity android:name=".activity.sw.day12.NormalDialogActivity" />
        <activity android:name=".activity.sw.day12.DateDialogActivity" />
        <activity android:name=".activity.sw.day12.CustomDialogActivity" />
        <activity android:name=".activity.sw.day12.AdapterDialogActivity" />
        <activity android:name=".activity.sw.day12.DialogActivity" />
        <activity android:name=".activity.sw.day06.OtherActivity" />
        <activity android:name=".activity.sw.day06.SaveActivity" />
        <activity android:name=".activity.sw.day04.SpinnerActivity" />
        <activity android:name=".activity.sw.day04.AutocompleteActivity" />
        <activity android:name=".activity.sw.day04.ChooseActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>